@font-face {
    font-family: misans;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/qine233/jsdever-ty@main/MiSans-Normal.ttf');

}

body {
    /* display: flex; */
    font-family: 'misans';
    background: #f1f1f1;
    padding: 7rem 15rem 0 15rem;
}

container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-first {
    width: 21rem;
    height: 32rem;
    background: #fff;
    border-radius: 0.5rem;
}

.box-sec {
    width: 21rem;
    height: 32rem;
    background: #fff;
    border-radius: 0.5rem;
}

#header-img {
    border-radius: 50%;
    width: 5.2rem;
    margin-left: 38%;
    margin-top: 2rem;
    box-shadow: 5px 5px 30px #dadfe9;
}

#header-name {
    margin-left: 45%;
}

#header-talk {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
}

ul li {
    list-style: none;
    padding: 5px;
}

.sibar-data-a-ul {
    margin-top: 2rem;
    background: #a4dbf5;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #3c72a2;
    color: #477aa1;
}

.sibar-data-b-ul {

    background: #f5c7d2;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #a23c72;
    color: #ab6a7a;
}

.sibar-data-c-ul {

    background: #ccecd8;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #3ca26f;
    color: #51a66d;
}

.sibar-data-a-ul:hover {

    background: #5ec6f6;

}

.sibar-data-b-ul:hover {

    background: #f5afbf;

}

.sibar-data-c-ul:hover {

    background: #9ed9b4;

}

.bg-primary {
    content: " ";
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d !important;
    width: 12px;
    height: 12px;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    float: right;
    right: 65px;
    top: 12px;
    z-index: 1;
}

.side {
    /*background: #dfe5ee;*/
    background: #fdfdfd;
    border-radius: 0.6rem;
    position: absolute;
    top: 8rem;
    left: 39rem;
    width: 12rem;
    height: 3.5rem;
    box-shadow: 10px 10px 50px #e6e9ec;
    padding-top: 2rem;
    padding-left: 0.3rem;
    font-size: 0.9rem;
    color: #34344d;
    /*font-weight: 600;*/
    border-style: solid;
    border-color: #e8e8e8;
    border-width: 1px;
}

.side::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    /*box-shadow: 5px 5px 30px #dadfe9;*/
    border-bottom: 12px solid transparent;
    border-right: 12px solid #e8e8e8;
    border-top: 12px solid transparent;
    position: absolute;
    left: -13px;
    top: 3.1rem;
    right: 100%;
}

.side:hover {
    background: #e8eaef;
}

.siber-footer {
    display: block;
    margin-top: 2.2rem;
    text-align: center;
}

.siber-footer a {
    text-decoration: none;
    color: rgba(16, 10, 26, 0.73);
    font-weight: 600;
}

.box-sec h3 {
    margin-left: 1rem;
    margin-top: 2rem;
}

.box-sec-list ul {
    margin-top: 1rem;
    margin-left: -1.5rem;
}

.box-sec-list li {
    width: 92%;
    height: 2.5rem;
    margin-top: 20px;
    border-radius: 0.5rem;
    /*box-shadow: 5px 5px 30px #eeeeee;*/
    border-style: solid;
    border-color: #e9eeff;
    border-width: 1px;
}

.box-sec-list a {
    font-size: 0.92rem;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    color: #0a0606;
    text-decoration: none;
}

.box-sec-list li:hover {
    background: #ececec;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 1px !important;
        font-size: 2.8rem !important;
    }

    .box-first {
        width: 100%;
        height: 32rem;
        background: #fff;
        border-radius: 0.5rem;
    }

    .box-sec {
        width: 100%;
        height: 32rem;
        background: #fff;
        border-radius: 0.5rem;
    }

    .box-first {
        height: 80rem;
    }

    #header-img {
        margin-top: 5rem;
        width: 14.5rem;
    }

    #header-name {
        font-size: 3.2rem !important;
        margin-top: 4rem;
    }

    #header-talk {
        font-size: 2.8rem;
        margin-top: 1rem;
    }

    .side {
        width: 18rem;
        height: 5rem;
        position: absolute;
        left: 40.5rem;
        font-size: 1.9rem;
        padding: 10px;
    }

    .bg-primary-m {
        content: " ";
        position: relative;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fc625d !important;
        width: 30px;
        height: 30px;
        -webkit-box-shadow: 25px 0 #fdbc40, 50px 0 #35cd4b;
        box-shadow: 42px 0 #fdbc40, 85px 0 #35cd4b;
        float: right;
        right: 95px;
        top: 12px;
        z-index: 1;
    }

    .bg-primary {
        display: none;
    }

    .box-sec {
        height: 80rem;
    }

    .box-sec-list a {
        font-size: 2.5rem;
    }

    .box-sec-list li {
        width: 95%;
        margin-top: 4rem;
        margin-left: 0.8rem;
        height: 8rem;
        border-width: 0.2rem;
        border-color: #white;
        box-shadow: 5px 5px 30px #f3f3f3;
    }

    .box-sec h3 {
        margin-left: 1rem;
        margin-top: -3rem;
        font-weight: 100;
    }
}