@media screen and (max-width: 800px) {

    .header {
        z-index: 999;
        height: 70px;
        /*width: 100%;*/
        border-bottom: none;
        padding: 0;
    }
    .content-text-2 img {
        width: 300px;
    }
    .header h1 {
        border-style: none;
        display: block;
        text-align: center;
        font-size: 1.8rem;
        /*margin-left: 0 !important;*/
        margin-top: -4px;
        position: relative;
     left: 0%;
    }
    .typecho-header{
        margin-left: 3px;
    }
    .site-search {
        display: none;
    }
    .crumbs_patch{
        margin-top:1.45rem;
        margin-left:1.8rem;
        margin-bottom: 0px;
        font-size: 0.5rem;
    }
    .header-second {
        display: none;
    }
    .typecho-user-text{
    margin-top: -6px;
        margin-left: 3px;
    }
    body {
        padding: 0;
        display: block;
    }

    /* .content-all{
        width: 100%;
      } */
    .content-last {
        visibility: hidden;
        display: none;
    }

    .content {
        margin-top: -65px;

        width: 100% !important;

    }

    .content-all {
        width: 99%;
        margin-top: 4rem;

    }

    .content-list {
        margin-left: 4.5% !important;
        margin-top: 0.7rem;
        /*margin: 0;*/
        /*height: 4rem;*/
        /*width: 95%;*/
    }

    .entry_text {
        height:5rem !important;
        margin-left: 0px !important;
    }
    .post-images img{
        height: 12rem;
    }
    /* 文章图片 */
   /* .post-images img {*/
   /*     margin-top: 4.5rem !important;*/
   /*     margin-left: 10rem !important;*/
   /*     width: 14rem !important;*/
   /*     height: 15rem !important;*/
   /*     border-radius: 0.3em;*/
   /*     object-fit: cover;*/
   /*     box-shadow: 2px 2px 15px #d1d9e6;*/
   /*     opacity: 0.9;*/
   /*     !*transition-duration:0.8s;*!*/
   /*     !* transform: scale(1.2); *!*/
   /*     position: relative;*/
   /*     top: -50%;*/
   /*right: -22% !important;*/
   /* }*/

    /* 文章块显示大小 */
    /*.content .post {*/
    /*    height: 13.8rem;*/

    /*}*/

    /* 文章分页位置 */
    /*.content .nav-page{*/
    /*  margin-top:60rem !important;*/
    /*}*/
    .sidenav {
        display: block;
        float: left;
        /* z-index: 999; */
        background-color: aliceblue;

        height: 1000px;
    }

    .closebtn {
        width: 5rem;
        margin-top: 10rem;
    }
    .content .post{
        height: 25.7rem;
    }
    .content  .entry_title {
        position: relative;
        top: 0px;
        left: -11px;
        /*margin-left: -13px;*/
        letter-spacing: 0.1px !important;
        font-size: 1.3rem !important;
        height: 1.5rem !important;
        width: 20rem !important;
        margin-top: -15.7rem;
        margin-left: 1.2rem;
    }

    /*.post-images img {*/
    /*    margin-top: 1.2rem;*/
    /*    margin-left: 9rem;*/

    /*    width: 11.5rem;*/
    /*    height: 7.5rem;*/
    /*    border-radius: 0.5rem;*/
    /*    object-fit: cover;*/

    /*    opacity: 0.9;*/

    /*    !* transform: scale(1.2); *!*/
    /*}*/

    .nav-page {
        margin-left: -3rem;
    }

    .entry_data {
font-size: 0.7rem;
        display: flex;

width: 10rem;
        margin-top: 6.7rem !important;
        margin-left: -21rem !important;
        position: unset !important;
        left: unset !important;
        top: unset !important;
        }

        .content .entry_data li {
            /*display: inline;*/
        /* padding: 0; */
        width: 6.5rem !important;
        height: 1.5rem !important;
        font-size: 8px;margin-left: -1rem;
    }
    .content .entry_text {

        margin-bottom: 6.5rem;
    }
    .content .entry_data ul {
        display: block !important;
        /*margin-top: 8rem!important;*/
        width: 10rem !important;

    }

    .comments {
        padding: 0;
        /*margin-top: 50rem;*/
        width: 98%;
    }

    #comments-padding {

        margin-left: 0.8rem;

        width: 94%;
        background-color: white;

        border-radius: 0.8rem;
    }

    .comments-3-text {
        display: flex;
        /* margin: 0 15%; */
        justify-content: center;
        flex-wrap: wrap;
    }

    .submit {
        position: relative;
        left: 1.5rem;
        border-style: none;
        height: 2rem;
        color: white;
        width: 5rem;
        border-radius: 0.3rem;
        background-color: rgb(0, 174, 255);

    }

    .typecho-text {
        /* position: relative; top: 5px; */

        box-shadow: none;

    }

    .footer {
        /*margin-left: -10px;*/
    }

    .content-list {
        margin-left: 0.5rem;
    }
    .post-title{
        font-size: 1.5rem;
    }
    #nav_menu{
        display: none;
    }
    #box_hover {
        position: relative;
        top: 2.6rem;
        display: block;
        width: 30px;

        padding: 1rem;
        /*border-top: 1px solid;*/
        /*border-bottom: 1px solid;*/
        /*padding: 8px 0;*/
        /*background-color: currentColor;*/
        /*background-clip: content-box;*/
        /*color: blue;*/
        background: white;
        z-index: 15;
    }
    .sideroom{
        z-index: 10;
        display: block;
        position: fixed;
        height: 100%;
        width: 75%;
        background: white;
        margin-top: -2rem;
        box-shadow: 0 4px 10px rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%);
    }
    .alaver-img{
        width: 100px;
        margin: 2rem 0 0 39%;
        border-radius: 50%;
        box-shadow: 0 4px 10px rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%);
    }
    .name{
        z-index: 10;
    }
}
