body{
	background-color: #e5e5e5;
	 font-family: 'ziti';
}

.mod{
	/* float: left; */
	background-color: #ffffff;
	width: 39rem;
	height: 39rem;
	border-radius: 50%;
	margin-top: 7%;
    margin-left: 10rem;	
	border-style: solid;
		border-radius: 50%;
		border-width: 0.95rem;
		border-color: #25bcfc;
		/* box-shadow: 2px 0.0625rem #888888; */
		
	box-shadow:  10px 10px 50px #02c4ff,
	             -10px -10px 50px #00c4f0;
}

.mod h1{
	font-size: 200px;
	font-weight: 22;
	
	/* margin-left: 150px; */
	padding-left: 130px;
}

.mod h2{
	font-size: 40px;
	font-weight: 50;
	color: #676767;
	position: absolute; left: 250px; top: 480px;
	
}

.mod img{
	border-radius: 1rem;
	position: absolute; left: 400px; top: 600px;border-color:#00d1ff ;
	border-style: solid;box-shadow:  10px 12px 60px #0cb2ff,
	             -10px -12px 60px #00c4f0;
}

.mod-first{
	background-color: #ffffff;
	width: 420px;
	height: 22rem;
	border-radius: 2.5rem;
	margin-top: 8rem;
	margin-left: 2.2rem;
	box-shadow: 20px 20px 60px #d4d4d4,
	            -20px -20px 60px #f4f4f4;
}

.mod-first .mod-img-first{
	width: 100px;
	border-radius: 50%;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
}

.mod-first .mod-h1-first{
	font-size: 3rem;
	font-weight: 620;
	color: #3f3f3f;
	margin-left: 25px;
	margin-top: 50px;
}
.mod-first .mod-h2-first{
	font-weight:100 ;
	font-size: 2rem;
	margin-left: 25px;
	color: #8f8f8f;
}

.mod-second{
	
background-color: #ffffff;
	width: 420px;
	height: 22rem;
	border-radius: 2.5rem;
	
	position: absolute; top: 850px; right: 50px;
	box-shadow: 20px 20px 60px #d4d4d4,
	            -20px -20px 60px #f4f4f4;
}
.mod-second .mod-img-second{
	width: 110px;
	border-radius: 50%;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	
}

.mod-second .mod-h1-second{
	font-size: 3rem;
	font-weight: 620;
	color: #3f3f3f;
	margin-left: 25px;
	margin-top: 40px;
}
.mod-second .mod-h2-second{
	font-weight:100 ;
	font-size: 2rem;
	margin-left: 25px;
	color: #8f8f8f;
}

.mod-big{
	background-color: #ffffff;
	height: 200px;
	width: 92%;
/* 	float: left; */
	border-radius: 2.4rem;
	margin-top: 50px;
	margin-left: 38px;
	/* position: absolute;bottom: 280px; left: 3rem; */
	box-shadow: 20px 20px 60px #d4d4d4,
	            -20px -20px 60px #f4f4f4;
}

.mod-big .mod-img-big{
	width: 110px;
	border-radius: 50%;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
}

.mod-big .content-h1{
	float: left;
	/* position: absolute;left: 200px; top: 15px; */
	font-size: 45px;
	color: #3F3F3F;
	float: left;
	margin-left: 5px;
	margin-top: 40px;
}

.mod-big .content-h2{
	float: left;
	/* position: absolute;left: 200px; top: 70px; */
	font-size: 35px;
	position: relative;bottom: -80px; left:-180px;
	color: #8a8a8a;
	
}

#button{
	background-color: rgba(0, 196, 255, 0.5);
	width: 180px;
	height: 90px;
	float: left;
	border-radius: 2rem;
	margin-left: 40rem;
	margin-top: -6rem;
	/* position: absolute;right: 45px; top: 45px; */
	box-shadow: 20px 20px 60px #d4d4d4,
	            -20px -20px 60px #f4f4f4;
				text-align: center;
}

#button a{
	text-decoration: none;
	font-size: 35px;
	letter-spacing: 2.5px;
	color: #00b9f1;
	font-weight: 600;
	
}

#button .text-chuansongmen{
	font-size: 35px;
}

.bg-mod-big{
	width: 650px;
	float: right;
	position: relative;right: 80px; top: 40px;
	border-radius: 2.5rem;
	box-shadow: 10px 10px 40px #e2e2e2,
	            -10px -10px 40px #f4f4f4;
}

#footer-one{
margin-top: 50px;
margin-left: 40px;
/* position: absolute; bottom: 80px; left: 50px; */
	width: 92%;
	background-color: #ffffff;
	height: 130px;
	border-radius: 2rem;
	float: left;
	  display: block;
	  color: #f2f2f2;
	  text-decoration: none;
	  font-size: 17px;
	  box-shadow: 20px 20px 60px #d4d4d4,
}

#footer-one a{
	text-decoration: none;
	color: #676767;
	
}

#footer-one h1{
	letter-spacing: 20px;
	font-size: 55px;
	text-align: center;
	margin-top: 25px;
}